# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Dream Of Civilizations.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\RTX_2070\Documents\Github\Dream Of Civilizations\.idea\.idea.Dream Of Civilizations\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
